@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Light.ttf);
  font-family: Roboto;
  font-weight: bold;
  src: url(/fonts/Roboto-Regular.ttf);
  font-family: Roboto;
  font-weight: bolder;
  src: url(/fonts/Roboto-Bold.ttf);
  font-family: Roboto;
  font-weight: lighter;
  src: url(/fonts/Roboto-Thin.ttf);
}

html {
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto;
  color: #1c1c1c;
}

.focusonhover :hover{
  filter: blur(0px) !important;
  /* outline: 10px solid green; */
}

body {
  margin: 0;
  background-color: #f0f0f0;
  max-width: 100vw;
}

header, footer {
  margin: auto;
  min-height: 24px;
  max-width: 100vw;
  font-size: 44px;
  font-weight: 900;
  padding: max(3vh, 12px) max(5vw, 16px);
}

header .row {
  justify-content: space-between;
  align-items: center;

}

header .row div {
  filter: blur(2.5px);
  transition: .2s ease-in-out;
}

footer .row {
  justify-content: space-between;
  align-items: center;
  filter: blur(2.5px);
  transition: .2s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  padding: 0 3vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* PAGE WIDTH = 84; ROWS = 84 / xCOLUMNS */
  grid-auto-rows: 31vh;
  grid-gap: max(3vmin, 16px);
  grid-auto-flow: dense;
}

.gallery-container {
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2.5px);
  transition: .2s ease-in-out;
}

/* :hover img -> :hover a img (change this after implementing gallery popup) */

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

@media only screen and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 42vh;
  }

  .w-4, .w-5{
    grid-column: span 3;
  }

  .w-2 {
    grid-column: span 2;
  }

    .h-3 {
    grid-row: span 2;
  }

  .gallery-item .image img {
  }
}

@media only screen and (max-width: 770px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .w-2, .w-3, .w-4, .w-5{
    grid-column: span 1;
  }

  .h-2, .h-3, .h-4,{
    grid-column: span 1;
  }

  .gallery-item .image img {
    width: 100%;
    max-height: 86vh;
  }
}
