@font-face {
}

html {
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial;
  font-size: 3vh;
  color: #1c1c1c;
}

body {
  margin: 0;
  background-color: #ffffff;
  max-width: 100vw;

}

.container {
  padding: 0 1.25rem;
}

.row {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;

  font-size: max(1.5rem, 12px);
}

.spacer {
  height: 2.5vh;
}

.portfolio {
  width: 100%;
}

.gallery-canvas {
  min-height: 82.5vh;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* PAGE WIDTH = 84; ROWS = 84 / xCOLUMNS */
  grid-auto-rows: auto;
  grid-gap: 10vh 2.5vw;
  grid-auto-flow: dense;
}

.gallery-card {
  overflow: hidden;
  position: relative;

}

.gallery-card .gallery-card-image {
  object-fit: cover;
  transform-origin: center;
  position: relative;
}

.gallery-card .gallery-card-image img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: center;
}

/* ---- */

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

@media only screen and (max-width: 1100px) {
  .gallery-canvas {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .w-4, .w-5{
    grid-column: span 3;
  }

  .w-2 {
    grid-column: span 2;
  }

    .h-3 {
    grid-row: span 2;
  }

}

@media only screen and (max-width: 770px) {
  .gallery-canvas {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .w-2, .w-3, .w-4, .w-5{
    grid-column: span 1;
  }

  .h-2, .h-3, .h-4,{
    grid-column: span 1;
  }

  .gallery-item .image img {
    width: 100%;
    max-height: 86vh;
  }
}
