:root {
  --index-card-height: 20vw;
}

.index-grid {

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;

}

.grid-card {
  overflow: hidden;
  heigh: var(--index-card-height);
  min-height: var(--index-card-height);
  /* card height essentially controlling row heigh */
}

.grid-card .grid-card-image img {
  width: auto;
  height: var(--index-card-height);
}


@media only screen and (max-width: 1300px) {
  .w-4, .w-5{
    grid-column: span 3;
  }

  .w-3, .w-2 {
    grid-column: span 1;
  }

  .h-3 {
    grid-row: span 2;
  }

  .sw-2 {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 850px) {
  .empty-cell {
    display: none;
  }

  .index-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: calc(var(--grid-row-gap)*2);
  }

  .row {
    grid-template-columns: repeat(1, 1fr);
  }

  header .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-card {
    overflow: hidden;
    min-height: var(--index-card-height);
    height: 100%;
    /* card height essentially controlling row heigh */
  }

  .grid-card .grid-card-image img {
    height: auto;
    width: 100%;

    transform: scale(1) !important;
  }

}
