.grid-card {
  height: 77.5vh;
  /* background-color: lightgray; */
}

 .row {
  grid-template-columns: repeat(3, 1fr);
}


.site-map-button {
  text-align: center;
}

.mail-button {
  text-align: right;
}


@media only screen and (max-width: 1300px) {

  .default-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .empty-cell {
    display: none;
  }
}


@media only screen and (max-width: 850px) {

  .index-button, .empty-cell  {
    display: none;
  }

.row {
  grid-template-columns: repeat(2, 1fr);
}

.site-map-button {
  text-align: left;
}

.mail-button {
  text-align: right;
}

  .footer-text, .mail-button, .index-button {
    text-align: center;
  }
}
