
:root {
  --grid-card-width:  calc( (var(--grid-width) - var(--grid-column-gap)) / 2 );
  --grid-card-height: calc( var(--grid-card-width) * 4 / 3 );
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  min-height: unset;
}

.grid-card {
  flex-direction: column;
  min-height: calc( var(--grid-card-height) / 2 );
  height: unset;
  text-align: left;
}

@media only screen and (max-width: 1300px) {}
@media only screen and (max-width: 850px) {
  #site-map-button {
    position: unset;
    left: unset;
    transform: unset;
  }
}