.grid-card {
  height: 77.5vh;

  /* background-color: lightgray; */
}

.default-grid {
  min-height: 83.5vh;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  /* grid-rows: 83.5vh; */
  grid-gap: 10vh 2.5vw;
  grid-auto-flow: dense;

  padding-top: 5vh;
}


small {
  padding-left: 0.5em;
  font-size: 0.9em;
  font-style: italic;
}

@media only screen and (max-width: 1100px) {

  .default-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

}

@media only screen and (max-width: 770px) {

  .index-button {
    display: none;
  }

  .default-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-rows: auto;
  }

}
