
:root {
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  min-height: unset;
}

.grid-card {
  /* text-align: left; */
  min-height: 20rem;
}

@media only screen and (max-width: 1300px) {}
@media only screen and (max-width: 850px) {
  #site-map-button {
    position: unset;
    left: unset;
    transform: unset;
  }
  .grid-card {
    min-height: unset;
  }
}