/* basic setup */
@font-face {
}

:root {
  --gallery-card-height: 20vw;
  --grid-card-height: 35vw;
  --grid-row-gap: 10vw;
  --grid-column-gap: 1vw;
}

html {
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial;
  font-size: 1em;
  font-weight: lighter;
  color: #1c1c1c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  background-color: #ffffff;
  max-width: 100vw;

}


header, footer {
  width: 100%;
  display: flex;

  font-size: max(2rem, 12px);
}

.container {
  padding: 2rem 3.5rem 2rem 3.5rem;
  width: max(100vw,375px);
}

.spacer {
  height: 5vh;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* text setup */
h1 {
  font-size: 2rem;
}

h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  font-family: arial;
  font-size: 1.25rem;
  font-weight: lighter;
}

p {
  padding: 0.2rem 0;
  padding-left: 0.2rem;
}

small {
  padding-left: 0.5em;
  font-size: 0.9em;
  font-style: italic;
}

img {
  transform-origin: 0% 0%;
}

.dwg {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.debug {
  border: 1px solid red;
}

/* --- */

  .page-name, .footer-text, .info-button {
      text-align: right;
  }

/* --- */

.gallery-canvas {

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;
}

.default-grid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;

}

.info-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;

}

.gallery-canvas .grid-card {
  height: var(--gallery-card-height);
}

.grid-card {
  overflow: hidden;

  height: var(--grid-card-height);
  /* card height essentially controlling row heigh */

  position: relative;


}

.grid-card .grid-card-image {
  position: relative;
  object-fit: contain;
}

.grid-card .grid-card-image img {
  width: auto;
  height: var(--grid-card-height);
}

.gallery-canvas .grid-card .grid-card-image img {
  width: auto;
  height: var(--gallery-card-height);
}

/* grid setup */

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.h-2 {
  grid-row: span 2;

  height: calc(var(--grid-card-height) * 2 + var(--grid-row-gap) * 2);
}

.h-3 {
  grid-row: span 3;

  height: calc(var(--grid-card-height) * 3 + var(--grid-row-gap) * 3);
}

.h-4 {
  grid-row: span 4;

  height: calc(var(--grid-card-height) * 4 + var(--grid-row-gap) * 4);
}

/* responssive setup */

@media only screen and (max-width: 1300px) {
  .gallery-canvas {
    grid-template-columns: repeat(4, 1fr);
  }

  .default-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .w-4, .w-5{
    grid-column: span 3;
  }

  .w-3, .w-2 {
    grid-column: span 1;
  }

  .h-3 {
    grid-row: span 2;
  }

  .sw-2 {
    grid-column: span 2;
  }

  .grid-card .grid-card-image img {
    height: 33vw;
  }

}

@media only screen and (max-width: 850px) {

  .home-button {
    display: none;
  }

  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-grid, .default-grid, .gallery-canvas{
    grid-template-columns: repeat(1, 1fr);
  }

  .w-2, .w-3, .w-4, .w-5{
    grid-column: span 1;
  }

  .h-2, .h-3, .h-4,{
    grid-row: span 1;
  }

  .gallery-canvas .grid-card {
    height: max(65vh, 120vw);
  }

  .default-grid .grid-card {
    /* height: max(100vh, 33vw); */
    height: 100%;
  }

  .info-grid .grid-card {
    /* height: max(100vh, 33vw); */
    height: 100%;
  }

  .grid-card .grid-card-image {

    top: 0% !important;
    right: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
  }

  .grid-card .grid-card-image img {
    height: auto;
    width: 100%;

    transform: scale(1) !important;
  }

  .footer-text {
    text-align: center;
  }

}
