/* basic setup */
html {
  scroll-behavior: smooth;
  font-family: arial;
  display: flex;

  --body-width: 750px;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #1c1c1c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem 0 2rem 0;
  width: var(--body-width);
  min-height: 100vh;
  position: relative;
}

.spacer {
  display: block;
  height: 4rem;
}

.spacer:last-of-type {
  height: 6rem;
}

.row {
  width: var(--body-width);
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

header, footer {
  font-size: max(2em, 12px);
  min-height: 4rem;
}

footer {
  position: absolute !important;
  bottom: 2rem;
  left: 0;
  min-height: unset;
}

footer *{
  align-self: center;
}

footer #home-button{
  position: relative;
  top: 0.5rem;
}

#site-map-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* content setup */

h1, h2, h3, p, small {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
}

h4 {
  font-size: 1.25em;
  font-weight: normal;
}

small {
  font-size: 0.9em;
  font-style: italic;
}

p + p {
  padding-top: 1em;
}

img {
  transform-origin: 0% 0%;
  z-index: 1;
}

.dwg {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.debug {
  border: 1px solid red;
}

/* grid setup */

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 1rem;
    grid-auto-flow: dense;
}

.grid-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 240px;
}

.grid-card:empty {
  display: none;
}

.grid-card h3 {
  position: absolute;
  bottom: 0%;
}

.grid-card img {
  width: 100%;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-2 {
  grid-row: span 2;

  height: calc(var(--grid-card-height) * 2 + var(--grid-row-gap) * 2);
}

.h-3 {
  grid-row: span 3;

  height: calc(var(--grid-card-height) * 3 + var(--grid-row-gap) * 3);
}

.h-4 {
  grid-row: span 4;

  height: calc(var(--grid-card-height) * 4 + var(--grid-row-gap) * 4);
}

/* responsive */

@media only screen and (max-width: 850px) {

  html {
    --body-width: 100%;
  }

  .container{
    padding: 2rem 2rem;
  }

  .row {
    min-height: unset;
    flex-direction: column;
    max-width: calc(375px - 4rem);
  }

  footer {
    left: unset;
  }

 .empty-cell, #home-button, .grid-card:empty {
    display: none;
  }

  .spacer {
    height: 1rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
    column-gap: 0;
    row-gap: 1rem;
  }

  .grid-card {
    min-height: 10vh;
  }

  .grid-card h3 {
    position: unset;
  }

  .w-2, .w-3, .w-4, .w-5, .w-6{
    grid-column: span 1;
  }

  .h-2, .h-3, .h-4{
    grid-row: span 1;
  }
}
