
:root {
    --grid-card-width:  calc( (var(--grid-width) - var(--grid-column-gap)) / 6 );
    --grid-card-height: calc( var(--grid-card-width) * 4 / 3 );
  }
  
.grid {
    grid-template-columns: repeat(6, 1fr);
    min-height: unset;
}

.grid-card {
    flex-direction: column;
    min-height: calc( var(--grid-card-height) / 6 );
    height: unset;
    text-align: left;
  }

  .grid-card img {
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
  }

  .grid-card > a {
    height: var(--grid-card-height);
    min-height: 60vh;
  }