
:root {
  }
  
.grid {
    grid-template-columns: repeat(6, 1fr);
}

.grid-card {
  height: 25rem;
}

.grid-card * {
  /* height: inherit; */
  /* width: inherit; */
  /* max-height: 100%; */
  /* max-width: 100%; */
}

.grid-card img {
  width: auto;
  height: auto;
  position: absolute;
}

  @media only screen and (max-width: 850px) {
    .grid-card img {
      width: 100% !important;
      height: auto !important;
      top: 0% !important;
      right: 0% !important;
      bottom: 0% !important;
      left: 0% !important;

      position: unset;
    }

    .grid-card {
      height: unset;
    }
  }