
:root {
  }

.gallery {
  overflow: hidden;
  position: relative;
}

.gallery img {
  width: auto;
  height: auto;
  position: absolute;
}

  @media only screen and (max-width: 850px) {
    .gallery img {
      width: 100% !important;
      height: auto !important;
      top: 0% !important;
      right: 0% !important;
      bottom: 0% !important;
      left: 0% !important;
      position: unset;
      padding-top: 1rem;
    }

    .gallery {
      height: unset !important;
    }

    .gallery spacer {
      display:none;
    }
  }